<!doctype html>
<html lang='en'>

<title>
  Job Wizard
</title>

<script src="/static/scripts/home.js"></script>
<link rel="stylesheet" type="text/css" href="/static/styles/homeStyle.css">

<body>
  <marquee>
    HELLO THIS IS THE SECRET PAGE FOR COOL DEVELOPERS ONLY
  </marquee>

  <h1>
    People in the cool developers club:
  </h1>
  <h2>
    {% for person in name %}
    {{person}} from {{location}}
    <br>
    {% endfor %}
  </h2>
  <div>
    Here's all the jobs I could find:
    <div>
      {{jobs}}
    </div>
  </div>

  <button onclick="test()">Click to see my face</button>
  <div id="face" style="visibility: hidden">
    <img src="/media/profile.png">
  </div>

</body>



</html>
